.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px;
}

.all-read {
    align-self: center;
    margin-right: 20px;
    color: hsl(219, 14%, 63%);
    background: none;
    border: none;
}

.no-notifications {
    background-color: hsl(219, 85%, 26%);
    margin: 0 20px;
    border-radius: 5px;
    padding: 2px 12px;
    font-size: 20px;
    color: white;
}

.notifications-container {
    display: flex;
    margin: 10px 20px;
    padding: 15px;
}

.text--dark {
    color: black;
    font-weight: bold;
    margin-right: 6px;
}

.notification-content {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    flex-wrap: wrap;
}

.time-notification {
    width: 100%;
    color:hsl(219, 14%, 63%);
}

.full-block {
    background-color: white;
    margin: 10vh 20vw;
    border-radius: 5px;
}

.bg-block {
    background-color: hsl(210, 60%, 98%);
}

.unread {
    background-color: hsl(210, 60%, 98%);
}

.private-message {
    border: 1px solid hsl(211, 68%, 94%);
    padding: 15px;
    margin: -15px 60px 20px 120px;
}